// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* Inicio de Login*/
.background-new {
    height: 100vh;
    width: 100%;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center center !important;
    background-size: cover !important;
    transition: background 2s linear;
}

.clip-new {
    position: absolute;
    top: 0%;
    left: 2px;
    height: 100vh;
    width: 100%;
}

.polygon-1 {
    background-image: linear-gradient(
        to right,
        rgb(26, 188, 156, 0.2),
        #089a7a
    );
    clip-path: polygon(0 15%, 100% 0, 100% 100%);
}

.polygon-2 {
    background: #5effde;
    clip-path: polygon(100% 0, 90% 0, 0% 70%, 100% 100%);
    z-index: 1000;
    opacity: 0.6;
}

.polygon-3 {
    background-image: linear-gradient(to right, rgb(37, 91, 151, 0.6), #255b97);
    clip-path: polygon(100% 0, 30% 100%, 100% 100%);
    z-index: 2000;
}

.content-login {
    background: #255b97;
    position: absolute;
    top: 0%;
    height: 100vh;
    width: 100%;
}

.card-new {
    margin-top: 10vh;
    margin-right: 20px;
    margin-left: 20px;
    color: #fff;
    background: #255b97;
}

.img-new {
    margin: 10px auto;
    text-align: center;
}

.avatar {
    width: 250px;
    margin: auto;
}

.btn-new {
    background: #1abc9c;
    border: 2px solid #1abc9c;
}

.btn-new:hover {
    background: #2bcdad;
    border: 2px solid#1abc9c;
}

.p-zero {
    padding: 0%;
}

@media (max-width: 767px) {
    .p-zero {
        display: none;
    }
    .card-new {
        margin-top: 2vh;
    }
}
/*Fin del Login*/

/* Inicio de Home */

.app-new {
    background: gray;
    height: 93vh;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-dash {
    background: green;
    height: 30vh;
    width: 20%;
    border: 1px solid black;
    margin: 0 10px;
}

/* Fin de Home*/
